<li href="#"
  class="menu-item list-group-item d-flex justify-content-between align-items-center">
  {{ burger_name }}

  <span
    class="badge badge-primary {{#if devoured}}restock-burger{{else}}eat-burger{{/if}}"
    data-id="{{ id }}" data-devoured="{{ devoured }}">
    {{#if devoured}}Restock.{{else}}Eat.{{/if}}
  </span>
</li>