<li>
  {{ burger_name }}
  
  <button class="restock" data-id="{{ id }}" data-devoured="{{ devoured }}">
    {{#if devoured}}Restock.{{else}}Eat.{{/if}}
  </button>

  <button class="delete-burger" data-id="{{ id }}">Delete</button>
</li>
